.login-cart{
    padding:10px;
}
a{
    text-decoration: none;
}
.text-centered{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:50px!important;
}
.text-centered .v-icon i{
    font-size: 4px!important;
}
.card{
    border:1px solid #f5f5f5;
    border-radius: 5px;
}